# fly.toml app configuration file generated for viral-cuts-backend on 2025-11-29T21:20:08-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'viral-cuts-backend'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  GO_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/ping'

[[vm]]
  size = 'shared-cpu-1x'
